:root {
   --tomato-color: #ff6347;
   --nice-white: #f0f0f0;
   --nice-textshadow: 0px 7px 0 hsl(0, 0%, 18%);
   --nice-gray: hsl(0, 0%, 15%);
}

* {
   margin: 0;
   font-family: "Open Sans";
}

html, body, main {
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   background: #1A2980;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to bottom, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to bottom, rgb(19, 177, 174), #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   height: 100%;
}
@keyframes spin {
   from { transform: rotateZ(0deg);  }
   to { transform: rotateZ(360deg); }
}

/* NOTE: transition time is 0.25s longer than animation time of rotateIn / rotateOut */
.hide {
   visibility: hidden;
   -webkit-transition: visibility 0s linear 1s;
   -o-transition: visibility 0s linear 1s;
   transition: visibility 0s linear 1s;
}
