:root {
   --tomato-color: #ff6347;
}

* {
   margin: 0;
   font-family: "Open Sans";
}

html, body, main {
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.reset-control {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 10%;
   margin: 15% 45% -5% 45%;
}

.main {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   overflow-x: hidden;
   padding-top: 2%;
}

#session {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}

#break {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}

.clockdiv {
   position: relative;
   width: 50%;
   height: 13em;
   margin-top: 5%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.controllers {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   width: 40%;
   margin: -5% 30%;
}

.colon {
   -webkit-animation: blinker 2.5s linear infinite;
   animation: blinker 2.5s linear infinite;
}

.time {
   -webkit-animation: blinker 1.25s linear infinite;
   animation: blinker 1.25s linear infinite;
}

#session {
   float: left;
}

#break {
   float: right;
}

@-webkit-keyframes blinker {
   50% {
      opacity: 0;
   }
}

@keyframes blinker {
   50% {
      opacity: 0;
   }
}

h1 {
   text-align: center;
   font-size: 80px;
   width: 248px;
}

h2 {
   padding-top: 70%;
   text-align: center;
   font-size: 30px;
}

button {
   font-size: 50px;
   border: none;
   background-color: transparent;
   cursor: pointer;
   margin: 20px;
   -webkit-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
}

/* buttons */

button:hover {
   opacity: 0.75;
   -webkit-transform: scale(1.3);
   -ms-transform: scale(1.3);
   transform: scale(1.3);
}

button:focus {
   outline: none;
}

button[name=break] {
   color: #af772f;
}

button[name=pomodoro] {
   color: var(--tomato-color);
}

/* NOTE: transition time is equal to animation time of rotateIn / rotateOut */
.hide {
   visibility: hidden;
   -webkit-transition: visibility 0s linear 1s;
   -o-transition: visibility 0s linear 1s;
   transition: visibility 0s linear 1s;
}

/* following 3 blocks hide the default range slider style */

input[type=range] {
   margin-top: 50%;
   -webkit-appearance: none;
   width: 250px;
   background: transparent;
   transform: rotate(270deg);
}

input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;
}

input[type=range]:focus {
   outline: none;
}

/* following blocks deploy a custom slider style */

input[type=range]::-ms-track {
   width: 100%;
   cursor: pointer;
   background: transparent;
   border-color: transparent;
   color: transparent;
}

input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;
   border: 2px solid #000000;
   height: 2.2rem;
   width: 2.2rem;
   border-radius: 50%;
   background: white;
   cursor: move;
   cursor: grab;
   cursor: -moz-grab;
   cursor: -webkit-grab;
   margin-top: -14px;
   -webkit-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   -webkit-transform: scale(1.5);
   -ms-transform: scale(1.5);
   transform: scale(1.5);
}

input[type=range]::-webkit-slider-thumb:active {
   cursor: grabbing;
   cursor: -moz-grabbing;
   cursor: -webkit-grabbing;
}

input[type=range]::-moz-range-thumb {
   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
   border: 1px solid #000000;
   height: 36px;
   width: 16px;
   border-radius: 3px;
   background: white;
   cursor: pointer;
}

input[type=range]::-ms-thumb {
   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
   border: 1px solid #000000;
   height: 36px;
   width: 16px;
   border-radius: 3px;
   background: white;
}

input[type=range]::-webkit-slider-runnable-track {
   width: 100%;
   height: 8.4px;
   cursor: pointer;
   -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
   background: var(--tomato-color);
   border-radius: 1.3px;
   border: 0.2px solid #010101;
}

input[type=range]::-moz-range-track {
   width: 100%;
   height: 8.4px;
   cursor: pointer;
   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
   background: #3071a9;
   border-radius: 1.3px;
   border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
   width: 100%;
   height: 8.4px;
   cursor: pointer;
   background: transparent;
   border-color: transparent;
   border-width: 16px 0;
   color: transparent;
}
