:root {
   --tomato-color: #ff6347;
   --nice-white: #f0f0f0;
   --nice-textshadow: 0px 7px 0 hsl(0, 0%, 18%);
   --nice-gray: hsl(0, 0%, 15%);
}

* {
   margin: 0;
   font-family: "Open Sans";
}

html, body, main {
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   background: #1A2980;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to bottom, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to bottom, rgb(19, 177, 174), #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   height:100%;
}
@keyframes spin {
   from { transform: rotateZ(0deg);  }
   to { transform: rotateZ(360deg); }
}

.reset-control {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 10%;
}

.main {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   overflow-x: hidden;
}

#session {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   float: left;
}

#break {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   float: right;
}

.clockdiv {
   position: relative;
   width: 50%;
   height: 13em;
   margin-top: 5%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   flex-direction: column;
}

.controllers {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.colon {
   -webkit-animation: blinker 2.5s linear infinite;
   animation: blinker 2.5s linear infinite;
}

.time {
   -webkit-animation: blinker 1.25s linear infinite;
   animation: blinker 1.25s linear infinite;
}

#session, #break {
   padding-top: 2%;
}

@-webkit-keyframes blinker {
   50% {
      opacity: 0;
   }
}

@keyframes blinker {
   50% {
      opacity: 0;
   }
}

h1 {
   text-align: center;
   font-size: 80px;
   width: 248px;
   color: var(--nice-white);
   text-shadow: var(--nice-textshadow);
}

h2 {
   padding-top: 70%;
   text-align: center;
   font-size: 30px;
   color: var(--nice-white);
   text-shadow: var(--nice-textshadow);
}

.notify {
   position: absolute;
   left: 0;
   right: 0;
   background-color: var(--nice-white);
   display: flex;
   justify-content: center;
}

/* buttons */

button {
   font-size: 50px;
   border: none;
   background-color: transparent;
   cursor: pointer;
   margin: 20px;
   -webkit-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
}

.exit-notif {
   display: flex;
   font-size: 20px;
   margin: 0;
   cursor: auto;
}

button:hover {
   opacity: 0.75;
}

button:focus {
   outline: none;
}

button[name=pomodoro] {
   color: var(--tomato-color);
   text-shadow: var(--nice-textshadow);
}

button[name=reset], button[name=playresume] {
   color: var(--nice-gray);
}

/* NOTE: transition time is 0.25s longer than animation time of rotateIn / rotateOut */
.hide {
   visibility: hidden;
   -webkit-transition: visibility 0s linear 1s;
   -o-transition: visibility 0s linear 1s;
   transition: visibility 0s linear 1s;
}

/* following 3 blocks hide the default range slider style */

input[type=range] {
   pointer-events: none;   
   margin-top: 50%;
   -webkit-appearance: none;
   width: 250px;
   background: transparent;
   transform: rotate(270deg);
}

input[type=range]::-webkit-slider-thumb {
   pointer-events: auto;
   -webkit-appearance: none;
}

input[type=range]:focus {
   outline: none;
}

/* following blocks deploy a custom slider style */

input[type=range]::-ms-track {
   width: 100%;
   cursor: pointer;
   background: transparent;
   border-color: transparent;
   color: transparent;
}

input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;
   border: 2px solid #000000;
   height: 2.2rem;
   width: 2.2rem;
   border-radius: 50%;
   background: var(--nice-white);
   cursor: move;
   cursor: grab;
   cursor: -moz-grab;
   cursor: -webkit-grab;
   margin-top: -14px;
   -webkit-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   -webkit-transform: scale(1.5);
   -ms-transform: scale(1.5);
   transform: scale(1.5);
}

input[type=range]::-webkit-slider-thumb:active {
   cursor: grabbing;
   cursor: -moz-grabbing;
   cursor: -webkit-grabbing;
}

input[type=range]::-moz-range-thumb {
   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
   border: 1px solid #000000;
   height: 36px;
   width: 16px;
   border-radius: 3px;
   background: white;
   cursor: pointer;
}

input[type=range]::-ms-thumb {
   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
   border: 1px solid #000000;
   height: 36px;
   width: 16px;
   border-radius: 3px;
   background: white;
}

input[type=range]::-webkit-slider-runnable-track {
   width: 100%;
   height: 8.4px;
   cursor: pointer;
   -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
   background: var(--tomato-color);
   border-radius: 1.3px;
   border: 0.2px solid #010101;
}

input[type=range]::-moz-range-track {
   width: 100%;
   height: 8.4px;
   cursor: pointer;
   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
   background: #3071a9;
   border-radius: 1.3px;
   border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
   width: 100%;
   height: 8.4px;
   cursor: pointer;
   background: transparent;
   border-color: transparent;
   border-width: 16px 0;
   color: transparent;
}
